* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.9);
} 

header {
  width: 100%;
  background-color: rgba(0, 0, 0, 1);
  position: fixed;
  padding: 30px;
  justify-items: center;
}

#header-content {
  width: 80%;
  color: white;
  /* text-shadow: 2px 2px 5px rgba(0, 0, 0, 1); */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 760px) {
  #header-content {
    width: 100%;
  }
}

nav {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  /* border: red solid 5px; */
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: orange;
}

nav a:active {
  color: purple;
}

footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  /* text-shadow: 2px 2px 5px rgba(0, 0, 0, 1); */
  text-align: center;
  background-color: rgba(0, 0, 0, 1);
  padding: 15px;
  /* height: 5vh; */
}

.light {
  background-color: white;
}
.light header {
  background-color: white;
}
.light #header-content {
  color: black;
  /* text-shadow: none; */
}

.light nav a {
  color: black;
  text-decoration: none;
}

.light footer {
  color: black;
  background-color: white;
}
