main {
  display: flex;
  width: 100%;
  color: white;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.light main {
  color: black;
}

form {
  /* border: red solid 5px; */
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form button {
  margin-top: 20px;
  align-self: center;
}

footer {
  position: fixed;
}