body {
  background-image: url("https://images.pexels.com/photos/32524109/pexels-photo-32524109.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.9);
} 

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color:rgba(0, 0, 0, 0.3);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
  width: 100%;
  min-height: 100vh;
  /* border: red solid 5px; */
}

header {
  background-color: rgba(0, 0, 0, 0.6);
}

main h1 {
  text-transform: uppercase;
}

footer {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
}

main h1, main p {
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.light header {
  background-color: rgba(255, 255, 255, 0.9);
}

.light footer {
  background-color: rgba(255, 255, 255, 0.9);
}