main {
  width: 80%;
  margin: auto;
  padding-top: 10vh;
}

#main-content {
  display: flex;
  flex-direction: row;
  justify-self: center;
  width: 100%;
  height: 85vh;
  color: white;
}

#articles {
  /* testing */
  /* border: solid;
  border-color: white; */
  flex-basis: 80%;
  padding: 20px;
  justify-content: space-between;
}

#sidebar {
  /* testing */
  /* border: solid;
  border-color: red; */
  flex-basis: 20%;
  padding: 20px;
  text-align: center;
}

section h2, h3 {
  text-decoration: underline;
}

#sidebar h2 {
  line-height: 5rem;
}

#sidebar h3 {
  line-height: 2rem;
}

#sidebar h4 {
  line-height: 1.5rem;
}

#articles {
  display: flex;
  flex-wrap: wrap;
}

.article-thumbnail {
    /* testing */
  /* border: solid;
  border-color: white; */
  padding: 30px;
  max-width: 500px;
  max-height: auto;
  margin-bottom: 50px;
}

.article-thumbnail img {
  max-width: 100%;
}